<!doctype html>

<html>
<head>
	<title>Help</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/app_style.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		<a href=".">
			<img src="../images/back_arrow.png" alt="back" class="img" height="40" width="40">
		</a>
		<div class="text-center">
			<h1>HELP/FAQ</h1>
		</div>
		<div>
			<h3>What is this app?</h3>
			<p>This or That is a profile-based, decision-making app that relies on questions and 
				simple choice rating algorithms to help aid YOU in making better choices.</p>
			<h3>How do I use it?</h3>
			<p>When first starting the app, you are prompted to answer a few questions to 
				initialize data and create a general profile that shows your strengths and 
				weaknesses based in relation to certain tasks.
				<br>
				 You can 'Weigh Your Options' and input two choices, which in turn creates more 
				 data for your profile. Past decisions and logs can also be viewed in the 'History' Tab, 
				 including justifications and reasonings for these decisions. 
				 <br> 
				 For when the going gets tough, immediate stress relief tips are available to help you 
				 clear your head, and make better decisions. 
				 <br>
				 While this app does help you make decisions, remember! You know yourself best, 
				 and taking care of yourself can help you choose the right path!</p>
		</div>
	</div>
</body>
</html>