<!doctype html>

<html>
<head>
	<title>Options</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/app_style.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/options.js"></script>
</head>

<body>
    <div class="container">
		<a href=".">
			<img src="../images/back_arrow.png" alt="back" class="img" height="40" width="40">
		</a>
		<div class="back_title" align="center">
			<div>
				<h1>THIS or THAT</h1>
			</div>
		</div>

		<div class="text_center" align="center">
			<img class = "scale_pic" src="../images/scale.png" alt="scale" class="img" height="300" width="300">

	
			<div class="input-group" id="options">
    			<input type="text" class="form-control" placeholder="Option 1"/>
    			<span class="input-group-addon">-</span>
    			<input type="text" class="form-control" placeholder="Option 2"/>
			</div>
	
			<div class="text-center" style="padding-top: 10px">
				<button id="weigh_options" class="btn btn-primary">Weigh my options!</button>
			</div>
		</div>

	</div>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>