<!doctype html>

<html>
<head>
	<title>Options</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/app_style.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
    <div class="container">
		<a href=".">
			<img src="../images/back_arrow.png" alt="back" class="img" height="40" width="40">
		</a>
		<div class="back_title" align="center">
			<div>
				<h1>THIS or THAT</h1>
			</div>
		</div>

		<div class="text_center" align="center">
			<img class = "scale_pic" src="../images/scale.png" alt="scale" class="img" style="width: 60%; height: auto">

			<form id="addOptionsForm" role="form" method="get" action="/add_options">
				<div class="input-group">
					<span class="input-group-btn">
						<button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#option1-menu">+</button>
					</span>
    				<input type="text" class="form-control" id="option1" placeholder="Option 1" name="option1"/>
		
					<span class="input-group-btn">
						<button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#option2-menu">+</button>
					</span>
    				<input type="text" class="form-control" id="option2" placeholder="Option 2" name="option2"/>
				</div>

				<div class="text-center" style="padding-top: 10px">
					<input type="submit" class="btn btn-primary" id="weigh_options" value="Weigh my options!"></input>
				</div>
			</form>

			<div id="option1-menu" class="collapse">
    			<div class="dropdown">
					What kind of task is this?
  					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    					Dropdown
    					<span class="caret"></span>
  					</button>
  					<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
    					{{#each list}}
							<li><a href="#">{{type}}</a></li>
						{{/each}}
  					</ul>
				</div>

				<div>
					<form>
  						Due Date:
  						<input type="date">
					</form>
				</div>
  			</div>

			<div id="option2-menu" class="collapse">
    			<div class="dropdown">
					What kind of task is this?
  					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    					Dropdown
    					<span class="caret"></span>
  					</button>
  					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    					{{#each list}}
							<li><a href="#">{{type}}</a></li>
						{{/each}}
  					</ul>
				</div>

				<div>
					<form>
  						Due Date:
  						<input type="date">
					</form>
				</div>
  			</div>

			<div id="decision-menu">
				{{#each options}}
					<h1 style="color:green;">{{option1}}</h1>
					<div class="text-center" style="padding-top: 10px">
						<a class="btn btn-primary" href="history" role="button">Here's why</a>
					</div>
				{{/each}}
			</div>

		</div>
	</div>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/options_code.js"></script>
</body>
</html>