<!doctype html>

<html>
<head>
	<title>Options</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/app_style.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
    <div class="container">
		<div class="back_title" align="center">
				<div>
				<a href=".">
					<img src="../images/back_arrow.png" alt="back" class="img" height="40" width="40">
				</a>
			</div>
			<div>
				<h1>THIS or THAT</h1>
			</div>
		</div>
		<div class="option_scale" align="center">
			<img class = "scale_pic" src="../images/scale.png" alt="scale" class="img" height="350" width="350">
			<a href="option1">
				<button id="optionbuttons" class="btn btn-primary btn-lg">OPTION 1</button>
			</a>
			<a href="option2">
				<button id="optionbuttons" class="btn btn-primary btn-lg">OPTION 2</button>
			</a>
		</div>
	</div>
    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>